<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-compatible" content="ie=edge">
    <!-- CSS stylesheets-->
    <link rel="stylesheet" href="/public/stylesheets/style-compra.css">
</head>
<body>
    <div class="row caja-compra">
        <div class="col col-lg-4 imagen-chona">
            <img class="chona-corazon" src="https://i.imgur.com/sOj35CK.png" alt="">
        </div>
        <div class="col col-lg-8 mensaje-compra">
            <h2 class="texto-agradecimiento">¡Muchas gracias por tu compra!</h2>
            <h3 class="texto-comunicacion">Para coordinar el envío comunícate por alguno de los siguientes medios:</h3>
            <ul class="list-unstyled mt-3 mb-4">
                <li class="texto-compra"><i class="contacto-icon mail fas fa-envelope fa-3x"></i><span class="texto-medio"> boinaeditorial@hotmail.com</span></li>
                <li class="texto-compra"><i class="contacto-icon wasap fab fa-whatsapp fa-3x"></i><span class="texto-medio"> 1136719587</span></li>
                <li class="texto-compra"><i class="contacto-icon tele fab fa-telegram-plane fa-3x"></i><span class="texto-medio"> 1136719587</span></li>
            </ul>
        </div>
    </div>
</body>