<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="">
    <meta http-equiv="X-UA-compatible" content="ie=edge">
    <title>Boina editorial</title>
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,700;0,900;1,400;1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;600;700;800&display=swap" rel="stylesheet">
    <!-- CSS stylesheets -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/style-layout2.css">
    <!-- Font awesome Script-->
    <script src="https://kit.fontawesome.com/af7a5c768d.js" crossorigin="anonymous"></script>
    <!-- Icono de pestaña -->
    <link rel="icon" href="https://i.imgur.com/lhUSefn.png" />
</head>
<body>
    <header>
        <div class="container-fluid todo-navegacion">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container-fluid navegacion1">
                    <a class="navbar-brand me-auto">
                        <img src="https://i.imgur.com/xrxB8bC.png" alt="" width="180">
                    </a>
                    <form action="/catalogo/buscador" method="GET" class="d-flex buscador-form">
                        <input class="form-control me-2 buscador-input" name="nombre" type="text" placeholder="Buscar libro" aria-label="Search">
                        <button class="btn btn-outline-light buscador-boton" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </form>
                </div>
            </nav>
            <nav class="navbar navbar-expand-lg secciones-navegacion">
                <div class="container-fluid barra-link">
                    <button class="navbar-toggler navbar-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerSecciones" aria-controls="navbarTogglerSecciones" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarTogglerSecciones">
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/">Inicio</a>
                            </li>
                            <!-- <li class="nav-item">
                                <a class="nav-link" href="/novedades">Novedades</a>
                            </li> -->
                            <li class="nav-item">
                                <a class="nav-link" href="/catalogo">Catalogo</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/artistas">Artistas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/suscripciones">Suscripciones</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/comiquerias">Comiquerias</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/contacto">Contacto</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <%- body %>
    <footer class="redes" id="footer">
        <div class="container-fluid">
          <a href="https://www.facebook.com/boinaeditorial"><i class="social-icon fab fa-facebook-f fa-3x"></i></a>
          <a href="https://twitter.com/BoinaEditorial"><i class="social-icon fab fa-twitter fa-3x"></i></a>
          <a href="https://www.instagram.com/boinaeditorial"><i class="social-icon fab fa-instagram fa-3x"></i></a>
          <a href="https://www.tiktok.com/@boinaeditorial"><i class="social-icon fab fa-tiktok fa-3x"></i></a>
          <a href=""><i class="social-icon fab fa-whatsapp fa-3x"></i></a>
          <a href=""><i class="social-icon fab fa-telegram-plane fa-3x"></i></a>
          <a href=""><i class="social-icon fas fa-envelope fa-3x"></i></a>
        </div>
      </footer>
    <!-- Bootstrap Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>