<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-compatible" content="ie=edge">
    <!-- CSS stylesheets-->
    <link rel="stylesheet" href="/public/stylesheets/style-contacto.css">
</head>
<body>
    <div class="container-fluid gran-caja">
        <h2>Para cualquier pedido, reclamo, comentario o propuesta para publicar en la editorial contactarse por las siguientes vías de comunicación:</h2>
        <div class="row caja-contactos">
            <div class="col">
                <i class="contacto-icon mail fas fa-envelope fa-3x"><span class="texto-contacto"> boinaeditorial@hotmail.com</span></i>
            </div>
        </div>
        <div class="row caja-contactos">
            <div class="col">
                <i class="contacto-icon wasap fab fa-whatsapp fa-3x"><span class="texto-contacto"> 1136719587</span></i>
            </div>
        </div>
        <div class="row caja-contactos">
            <div class="col">
                <i class="contacto-icon tele fab fa-telegram-plane fa-3x"><span class="texto-contacto"> 1136719587</span></i>
            </div>
        </div>
    </div>
</body>