main {
    text-align: center;
    font-family: 'Inter', sans-serif;
}

main p {
    text-transform: uppercase;
    margin-top: 15px;
    font-size: 34px;
    color: #ffffff;
}

.aviso {
    width: 600px;
    height: auto;
    display: inline-flex;
    margin-top: 50px;
    margin-right: 70px;
    margin-bottom: 30px;
    background-color: rgb(41, 165, 52);
    padding: 20px;
    border-radius: 25px;
}

.chona-corazon {
    width: 150px;
    height: auto;
    margin-right: 5px;
}

.logo-boina {
    width: 100px;
    height: auto;
    margin-left: 5px;
}

@media screen and (max-width: 455px) and (orientation: portrait) {
    main {
        width: 350px;
        height: auto;
    }

    main p {
        font-size: 20px;
        margin-top: 8px;
    }

    .aviso {
        width: 330px;
        padding: 10px;
        margin-top: 25px;
        align-items: center;
    }

    .chona-corazon {
        width: 75px;
        height: 75px;
    }

    .logo-boina {
        width: 60px;
        height: 90px;
    }
}
