body {
    background-color: #cef0d8;
    font-family: 'Work Sans', sans-serif;
}

.caja-novedades {
    padding: 3% 15%;
}

.caja-noticia {
    margin-bottom: 60px;
}

.imagen-box {
    text-align: center;
    margin-top: 15px;
}

h1 {
    font-weight: 900;
    font-size: 3rem;
}

h3 {
    font-weight: 800;
    font-size: 1.8rem;
}

p {
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: 8px;
}

hr {
    display: none;
}

.novedades-plus {
    padding: 0;
}

.boton-noticia {
    font-weight: 600;
}

.bajada-novedades {
    margin: 20px 0;
}

footer {
    text-align: center;
}

@media screen and (min-width: 356px) and (orientation: portrait) {
    body {
        text-align: center;
    }

    h1 {
        font-size: 1.7rem;
        margin-top: 5px;
    }

    h3 {
        font-size: 1.2rem;
    }

    hr {
        display: initial;
        color:#062e0b;
        border: 2px solid #062e0b;
        margin: 0.5rem auto;
    }
};