body {
    background-color: rgb(156, 187, 226);
    width: 900px;
    height: auto;
}

.cabecera {
    width: 900px;
    height: 180px;
    display: inline-flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-top: 10px;
}

.caratula {
    width: 450px;
    height: 160px;
    display: inline-flex;
    background: linear-gradient(135deg, #0d470b, #bbdfba);
    border: 5px black solid;
    border-radius: 20px;
    margin-right: 20px;
}

.caratula h1 {
    font-size: 66px;
    font-family: 'Staatliches', cursive;
    margin: 0px 0px 0px 15px;
    color: #e7f3e7;
    text-decoration: none;
}

.logo {
    width: 150px;
    height: 150px;
}

.perfil {
    width: 350px;
    height: 180px;
}

.compras a {
    display: inline-flex;
    margin-bottom: 5px;
    font-family: 'Inter', sans-serif;
    background-color: rgb(245, 217, 217);
    width: 192px;
    justify-content: center;
    border-radius: 20px;
    text-decoration: none;
}

.compras p {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

#cantidad {
    position: absolute;
    background-color: rgb(214, 43, 43);
    border-radius: 100%;
    padding: 3px;
    color: white;
    margin-left: 123px;
    margin-top: 1px;
}

.chango {
    width: 50px;
    height: auto;
}

.buscador-form {
    width: 200px;
    height: 50px;
    margin-right: 0px;
    display: inline-flex;
    align-items: center;
}

.buscador-input {
    width: 135px;
    height: 41px;
    font-size: 18px;
}

.buscador-boton {
    padding: 8px;
    cursor: pointer;
}

.lupa {
    width: 25px;
    height: 25px;
    background-color: rgb(248, 240, 233);
}

.atajos-lista {
    list-style: none;
    display: inline-flex;
    margin: 0;
}

.atajos-iconos {
    background-color: rgb(255, 255, 255);
    margin: 10px;
    padding: 8px 8px 0px 8px;
    width: 40px;
    height: 60px;
    cursor: pointer;
}

.atajos-iconos a {
    text-decoration: none;
}

.atajos-iconos img {
    display: flex;
    justify-content: center;
    height: 40px;
    width: 40px;
}

.atajos-iconos p {
    margin-top: 0;
    font-size: 11px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}