body {
    background-color: #cef0d8;
    font-family: 'Merriweather Sans', sans-serif;
    text-align: center;
}

/* fichas de titulos */

.catalogo-libros {
    padding: 3% 15%;
}

.titulos {
    padding-bottom: 2%;
}

hr {
    color:#062e0b;
    border: 2px solid #062e0b;
    width: 65%;
    margin: 0.5rem auto;
}

a {
    text-decoration: none;
}

.libro-nombre {
    color: #fff;
    width: 65%;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0.2rem auto;
    margin-bottom: 0;
    background-color:#0c4613;
}

.tapas {
    width: 65%;
    margin-bottom: 10px;
}

p {
    color: #fff;
    width: 65%;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0 auto;
    background-color: #0c4613;
    border: 4px solid #000;
}

@media screen and (min-width: 356px) and (orientation: portrait) {
    .libro-nombre {
        font-size: 1.2rem;
    }

    p {
        font-size: 1.1rem;
    }
}