body {
    background-color: #cef0d8;
    font-family: 'Work Sans', sans-serif;
}

.caja-cartel {
    padding: 3% 15% 2%;
}

.caja-listado, .caja-suscripciones {
    padding: 0 15% 3%;
}

.suscripcion-logo {
    width: 55%;
    margin-bottom: 30px;
}

.caja-beneficio {
    margin-bottom: 40px;
}

.ultima {
    margin-bottom: 0;
}

.imagen-beneficio {
    width: 95%;
    border: 5px solid #000;
    transition: 0.3s;
}

.imagen-beneficio:hover {
    border: 5px solid #fff;
}

h1 {
    font-weight: 900;
    font-size: 3.5rem;
    text-transform: uppercase;
    text-decoration: underline;
}

h2 {
    font-weight: 800;
    font-size: 2.5rem;
}

h3 {
    font-weight: 700;
    font-size: 1.8rem;
}

p {
    font-size: 1.3rem;
    font-weight: 700;
    margin: 0;
}

hr {
    display: none;
}

.mercado {
    margin-bottom: 10px;
}

.icono-mp, .icono-pp {
    width: 40px;
    height: 30px;
}

.link-mp, .link-pp {
    font-weight: 700;
    font-size: 1.3rem;
}

footer {
    text-align: center;
}

@media screen and (min-width: 356px) and (orientation: portrait) {
    body {
        text-align: center;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 1.8rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    .suscripcion-logo {
        width: 70%;
        margin-bottom: 10px;
    }

    .imagen-beneficio {
        width: 75%;
        margin-bottom: 10px;
        border: 3px solid #000;
        transition: 0.3s;
    }
    
    .imagen-beneficio:hover {
        border: 3px solid #fff;
    }

    hr {
        display: initial;
        color:#062e0b;
        border: 2px solid #062e0b;
        margin: 0.5rem auto;
        margin-bottom: 20px;
    }

    .caja-cartel {
        margin-bottom: 15px;
    }

    .caja-beneficio {
        margin-bottom: 25px;
    }
}