body {
    background-color: #cef0d8;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
}

/* descripcion del catalogo */

.descripcion-catalogo {
    padding: 3% 15%;
}

.descripcion-texto {
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.2;
}

/* fichas de titulos */

.catalogo-libros {
    padding: 2% 15%;
}

.titulos {
    padding-bottom: 2%;
}

hr {
    color:#062e0b;
    border: 2px solid #062e0b;
    width: 65%;
    margin: 0.5rem auto;
}

a {
    text-decoration: none;
}

.libro-nombre {
    color: #000;
    width: 65%;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0.2rem auto;
    margin-bottom: 0;
}

.tapas {
    width: 65%;
    margin-bottom: 10px;
}

p {
    color: #fff;
    width: 65%;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0 auto;
    background-color: #0c4613;
    border: 4px solid #000;
}

@media screen and (min-width: 356px) and (orientation: portrait) {
    .descripcion-texto {
        font-size: 1.8rem;
        line-height: 1.2;
    }

    .libro-nombre {
        font-size: 1.2rem;
    }

    p {
        font-size: 1.1rem;
    }

    hr {
        margin-top: 25px;
    }
}