main {
    text-align: center;
    font-family: 'Inter', sans-serif;
    color: #ffffff;
}

.introduccion-editorial {
    width: 550px;
    height: auto;
    display: inline-block;
    justify-content: center;
    margin-bottom: 10px;
}

.slogan-editorial {
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    color: black;
}

.bloque-editorial {
    background: linear-gradient(135deg, #640707, #f3b7b7);
    padding: 30px;
    border-radius: 30px;
    border: 8px rgb(241, 252, 240) solid;
}

.descripcion-editorial {
    font-size: 20px;
}

.muestra-items {
    text-decoration: underline;
    text-transform: uppercase;
    margin-top: 15px;
    font-size: 34px;
}

.tapas {
    width: 180px;
    height: auto;
    margin: 10px;
    border: 8px solid rgb(56, 56, 56);
    border-radius: 8px;
    transition: linear 0.2s;
}

.tapas:hover {
    border: 8px solid rgb(241, 252, 240);
}

/* pantalla celulares */
@media screen and (max-width: 500px) {
    .introduccion-editorial {
        width: 450px;
    }

    .slogan-editorial {
        font-size: 44px;
    }

    .bloque-editorial {
        border: 4px rgb(241, 252, 240) solid;
        padding: 20px;
    }

    .descripcion-editorial {
        font-size: 18px;
    }

    .muestra-items {
        font-size: 28px;
    }
}
