body {
    background-color: #cef0d8;
    font-family: 'Work Sans', sans-serif;
}

h2 {
    font-weight: 800;
    font-size: 1.8rem;
}

.gran-caja {
    padding: 3% 15%;
}

.contacto-icon {
    margin: 20px 10px;
}

.texto-contacto {
    font-size: 2.5rem;
    font-weight: 800;
}

footer {
    text-align: center;
}

@media screen and (min-width: 356px) and (orientation: portrait) {
    body {
        text-align: center;
    }

    .mail {
        font-size: 1.7rem;
    }

    #texto-mail {
        font-size: 1.2rem;
    }
    
    .texto-contacto {
        font-size: 1.9rem;
    }

    h2 {
        font-size: 1.4rem;
    }
};