main {
    text-align: center;
    font-family: 'Inter', sans-serif;
    color: white;
}

main h2 {
    text-decoration: underline;
    text-transform: uppercase;
    margin-top: 15px;
    font-size: 34px;
}

.categorias {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    width: 700px;
}

.titulo-producto {
    float: left;
}

.titulo-precio {
    margin-left: 100px;
}

.titulo-cantidad {
    float: right;
    margin-right: 15px;
}

.linea-separacion {
    padding: 2px;
    background-color: white;
    border-radius: 10px;
    width: 710px;
    margin: 10px 0;
}

.listado {
    width: 700px;
    height: auto;
}

.item {
    width: 700px;
    display: inline-flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    margin: 8px 0px;
}

.item-unidades {
    display: inline-flex;
    align-items: center;
}

.tapas {
    width: 50px;
    height: auto;
}

.titulo {
    margin-left: 10px;
    width: 400px;
    height: 45px;
    display: inline-flex;
    justify-content: left;
    align-items: center;
}

.unidades {
    width: 30px;
    margin-right: 5px;
}

.remover {
    padding: 3px;
    margin-right: 5px;
    cursor: pointer;
}

.remover img {
    width: 30px;
    height: auto;
}

.precio {
    margin-right: 158px;
}

.precio-unidades {
    float: right;
}

.cuenta {
    float: right;
}

.cuenta label {
    text-transform: uppercase;
    font-size: 20px;
    text-decoration: underline;
}

.compra {
    padding: 10px;
    text-transform: uppercase;
    color: white;
    background-color: rgb(209, 53, 61);
    border: 3px outset white;
    cursor: pointer;
    margin-top: 30px;
    margin-left: 600px;
    display: inline-block;
}

@media screen and (max-width: 455px) and (orientation: portrait) {
    main {
        width: 350px;
        height: auto;
    }

    main h2 {
        font-size: 22px;
    }

    .categorias {
        width: 330px;
        font-size: 14px;
        display: inline-flex;
        justify-content: space-between;
    }

    .titulo-precio {
        margin-left: 0px;
    }

    .titulo-cantidad {
        margin-right: 0px;
    }

    .linea-separacion {
        width: 340px;
    }

    .listado {
        width: 330px;
        height: auto;
    }

    .item {
        width: 330px;
        justify-content: space-between;
    }

    .item-unidades {
        float: right;
    }

    .titulo {
        display: none;
    }

    .unidades {
        width: 22px;
        height: 26px;
        margin: 0px;
    }

    .remover {
        padding: 2px;
        margin: 0px;
    }

    .remover img {
        width: 20px;
        height: auto;
    }

    .precio {
        margin-right: 0px;
        margin-left: 25px;
    }

    .precio-unidades {
        display: none;
    }

    .compra {
        margin-left: 235px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}


