body {
    background-color: rgb(156, 187, 226);
    width: 900px;
    height: auto;
}

main {
    text-align: center;
    font-family: 'Inter', sans-serif;
    color: white;
}

h1 {
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 40px;    
}

.aviso {
    width: 650px;
    font-size: 24px;
    display: inline-flex;
    color: white;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    background-color: rgb(216, 48, 48);
    border-radius: 10px;
    padding: 0px 20px;
}

.alerta {
    width: 70px;
}

.presentacion {
    position: relative;
}

.informacion {
    display: inline-block;
    margin: 10px;
}

.precio {
    font-size: 40px;
    margin-bottom: 20px;
}

form {
    display: block;
    position: relative;
    margin-bottom: 20px;
}

.invicibles {
    display: none;
}

#identificacion {
    display: none;
}

button {
    width: 90px;
    height: 40px;
    font-size: 12px;
    text-transform: uppercase;
    color: white;
    background-color: rgb(209, 53, 61);
    border: 3px outset white;
    cursor: pointer;
}

.tapas {
    width: 300px;
    height: auto;
    margin-top: 20px;
    border: 5px solid white;
    border-radius: 10px;
}

.datos p {
    margin: 20px;
    font-size: 18px;
}

#descripcion {
    font-size: 24px;
}

.atajos-lista {
    list-style: none;
    display: inline-flex;
    margin: 0;
}

.atajos-iconos {
    background-color: rgb(255, 255, 255);
    margin: 10px;
    padding: 8px 8px 0px 8px;
    width: 40px;
    height: 60px;
    cursor: pointer;
}

.atajos-iconos a {
    text-decoration: none;
}

.atajos-iconos img {
    display: flex;
    justify-content: center;
    height: 40px;
    width: 40px;
}

.atajos-iconos p {
    margin-top: 0;
    font-size: 11px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}