<head>
    <link rel="stylesheet" href="/public/stylesheets/style-compra.css">
</head>
<main>
    <div class="aviso">
        <img class="chona-corazon" src="https://i.imgur.com/sOj35CK.png" alt="">
        <p>¡Gracias por su compra! Vuelva pronto</p>
        <img class="logo-boina" src="https://i.imgur.com/nPZYcq9.png" alt="">
    </div>
</main>