<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-compatible" content="ie=edge">
    <!-- CSS stylesheets-->
    <link rel="stylesheet" href="/public/stylesheets/style-artistas.css">
</head>
<body>
    <div class="row">
        <div class="col-2">
            <img src="" alt="">
        </div>
        <div class="col-10">
            <h1></h1>
            <p></p>
            <h2>Obras publicadas</h2>
            <a href=""><img src="" alt=""></a>
        </div>
    </div>
</body>