<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-compatible" content="ie=edge">
    <!-- CSS stylesheets-->
    <link rel="stylesheet" href="/public/stylesheets/style-nivel2.css">
</head>
<body>
    <div class="row caja-cartel">
        <div class="col">
            <img class="suscripcion-logo" src="https://i.imgur.com/pEJvhPp.png" alt="logoSuscripcion">
            <h1 class="titulo-nivel">Nivel 2</h1>
        </div>
    </div>
    <div class="row caja-listado">
        <div class="row caja-beneficio">
            <div class="col-lg-2 caja-poster">
                <a href="https://i.imgur.com/hjb20ol.jpg"><img class="imagen-beneficio" src="https://i.imgur.com/hjb20ol.jpg" alt=""></a>
            </div>
            <div class="col-lg-10 caja-texto">
                <h2 class="titulo-beneficio">Mencion en libros</h2>
                <h3 class="texto-beneficio">Derecho a aparecer en la pagina dedicada a suscriptores de los libros de 
                    la editorial con el agradeciendo correspondiente por ser parte de este proyecto. Hay que estar suscripto 
                    antes de enviar el libro a imprenta para poder estar en la página.</h3>
            </div>
        </div>
        <div class="row caja-beneficio">
            <hr>
            <div class="col-lg-2 caja-poster">
                <a href="https://i.imgur.com/5Sl5uWx.jpg"><img class="imagen-beneficio" src="https://i.imgur.com/5Sl5uWx.jpg" alt=""></a>
            </div>
            <div class="col-lg-10 caja-texto">
                <h2 class="titulo-beneficio">Stickers digitales Pack</h2>
                <h3 class="texto-beneficio">Tendrán acceso a un paquete de stickers digitales para Whatsapp y Telegram 
                    con diseños exclusivos de los Chona’s comics para usar en tu celular y expresarte de la manera mas 
                    adecuada con tus amigos. Incluye 29 diseños.</h3>
            </div>
        </div>
        <div class="row caja-beneficio">
            <hr>
            <div class="col-lg-2 caja-poster">
                <a href="https://i.imgur.com/L5Jk5ys.jpg"><img class="imagen-beneficio" src="https://i.imgur.com/L5Jk5ys.jpg" alt=""></a>
            </div>
            <div class="col-lg-10 caja-texto">
                <h2 class="titulo-beneficio">Libros digitales</h2>
                <h3 class="texto-beneficio">Podrán acceder a una selección de libros del catalogo de la editorial en versión 
                    digitales de a uno por mes y la misma ira cambiando cada mes. Según el nivel son los libros que se podrán acceder.</h3>
            </div>
        </div>
        <div class="row caja-beneficio">
            <hr>
            <div class="col-lg-2 caja-poster">
                <a href="https://i.imgur.com/nxsutqB.jpg"><img class="imagen-beneficio" src="https://i.imgur.com/nxsutqB.jpg" alt=""></a>
            </div>
            <div class="col-lg-10 caja-texto">
                <h2 class="titulo-beneficio">Sticker HD</h2>
                <h3 class="texto-beneficio">Recibirá un sticker de los Chona’s comics y otras series por mes en alta calidad 
                    para poder imprimir de forma física. Cada mes rotara el diseño del sticker al azar.</h3>
            </div>
        </div>
        <div class="row caja-beneficio">
            <hr>
            <div class="col-lg-2 caja-poster">
                <a href="https://i.imgur.com/hWfN6dO.jpg"><img class="imagen-beneficio" src="https://i.imgur.com/hWfN6dO.jpg" alt=""></a>
            </div>
            <div class="col-lg-10 caja-texto">
                <h2 class="titulo-beneficio">Wallpapers</h2>
                <h3 class="texto-beneficio">Recibirá un wallpaper para el celular o la PC por mes de las ilustraciones de los artistas 
                    de la editorial y colaboradores de alta calidad. Cada mes rotara el diseño del wallpaper al azar.</h3>
            </div>
        </div>
        <div class="row caja-beneficio">
            <hr>
            <div class="col-lg-2 caja-poster">
                <a href="https://i.imgur.com/C2fd9Mm.jpg"><img class="imagen-beneficio" src="https://i.imgur.com/C2fd9Mm.jpg" alt=""></a>
            </div>
            <div class="col-lg-10 caja-texto">
                <h2 class="titulo-beneficio">Personaje chonificado</h2>
                <h3 class="texto-beneficio">Te realizamos un personaje en versión de los Chona’s comics que vos desees. Con una foto de la 
                    persona que quieras chonificar se realizara su propia versión de los Chona’s comics para usarlo como gustes. 
                    Se puede pedir por única vez.</h3>
            </div>
        </div>
        <div class="row caja-beneficio ultima">
            <hr>
            <div class="col-lg-2 caja-poster">
                <a href="https://i.imgur.com/3zUg8iA.jpg"><img class="imagen-beneficio" src="https://i.imgur.com/3zUg8iA.jpg" alt=""></a>
            </div>
            <div class="col-lg-10 caja-texto">
                <h2 class="titulo-beneficio">10% Descuento</h2>
                <h3 class="texto-beneficio">Obtendrás un 10% de descuento en la compra de libros físicos de la editorial. Podrás usarlo 
                    una vez por mes en una sola compra.</h3>
            </div>
        </div>
    </div>
    <div class="row caja-suscripciones">
        <div class="row align-items-center linea-boton mercado">
            <div class="col col-lg-4">
                <a href="https://www.mercadopago.com.ar/subscriptions/checkout?preapproval_plan_id=2c9380847b5a46b8017b5f5ad3600355"><button type="button" class="w-100 btn btn-lg btn-outline-primary boton-mp"><img class="icono-mp" src="https://i.imgur.com/f08LEId.png"><span class="link-mp"> Suscribirse</span></button></a>
            </div>
            <div class="col col-lg-4">
                <p>$300 x mes</p>
            </div>
        </div>
        <div class="row align-items-center linea-boton">
            <div class="col col-lg-4">
                <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=GPDU7AD9R3SLW"><button type="button" class="w-100 btn btn-lg btn-outline-primary boton-pp"><img class="icono-pp" src="https://i.imgur.com/rQ5duOy.png"><span class="link-pp"> Suscribirse</span></button></a>
            </div>
            <div class="col col-lg-4">
                <p>US$3 x mes</p>
            </div>
        </div>  
    </div>
</body>