<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-compatible" content="ie=edge">
    <!-- CSS stylesheets-->
    <link rel="stylesheet" href="/public/stylesheets/style-nivel1.css">
</head>
<body>
    <div class="row caja-cartel">
        <div class="col">
            <img class="suscripcion-logo" src="https://i.imgur.com/pEJvhPp.png" alt="logoSuscripcion">
            <h1 class="titulo-nivel">Nivel 4</h1>
        </div>
    </div>
    <div class="row caja-listado">
        <div class="row caja-beneficio">
            <div class="col-lg-2 caja-poster">
                <a href="https://i.imgur.com/hjb20ol.jpg"><img class="imagen-beneficio" src="https://i.imgur.com/hjb20ol.jpg" alt=""></a>
            </div>
            <div class="col-lg-10 caja-texto">
                <h2 class="titulo-beneficio">Mencion en libros</h2>
                <h3 class="texto-beneficio">Derecho a aparecer en la pagina dedicada a suscriptores de los libros de 
                    la editorial con el agradeciendo correspondiente por ser parte de este proyecto. Hay que estar suscripto 
                    antes de enviar el libro a imprenta para poder estar en la página.</h3>
            </div>
        </div>
        <div class="row caja-beneficio">
            <hr>
            <div class="col-lg-2 caja-poster">
                <a href="https://i.imgur.com/5Sl5uWx.jpg"><img class="imagen-beneficio" src="https://i.imgur.com/5Sl5uWx.jpg" alt=""></a>
            </div>
            <div class="col-lg-10 caja-texto">
                <h2 class="titulo-beneficio">Stickers digitales Pack</h2>
                <h3 class="texto-beneficio">Tendrán acceso a un paquete de stickers digitales para Whatsapp y Telegram 
                    con diseños exclusivos de los Chona’s comics para usar en tu celular y expresarte de la manera mas 
                    adecuada con tus amigos. Incluye 29 diseños.</h3>
            </div>
        </div>
        <div class="row caja-beneficio">
            <hr>
            <div class="col-lg-2 caja-poster">
                <a href="https://i.imgur.com/L5Jk5ys.jpg"><img class="imagen-beneficio" src="https://i.imgur.com/L5Jk5ys.jpg" alt=""></a>
            </div>
            <div class="col-lg-10 caja-texto">
                <h2 class="titulo-beneficio">Libros digitales</h2>
                <h3 class="texto-beneficio">Podrán acceder a una selección de libros del catalogo de la editorial en versión 
                    digitales de a uno por mes y la misma ira cambiando cada mes. Según el nivel son los libros que se podrán acceder.</h3>
            </div>
        </div>
        <div class="row caja-beneficio">
            <hr>
            <div class="col-lg-2 caja-poster">
                <a href="https://i.imgur.com/nxsutqB.jpg"><img class="imagen-beneficio" src="https://i.imgur.com/nxsutqB.jpg" alt=""></a>
            </div>
            <div class="col-lg-10 caja-texto">
                <h2 class="titulo-beneficio">Sticker HD</h2>
                <h3 class="texto-beneficio">Recibirá un sticker de los Chona’s comics y otras series por mes en alta calidad 
                    para poder imprimir de forma física. Cada mes rotara el diseño del sticker al azar.</h3>
            </div>
        </div>
        <div class="row caja-beneficio">
            <hr>
            <div class="col-lg-2 caja-poster">
                <a href="https://i.imgur.com/hWfN6dO.jpg"><img class="imagen-beneficio" src="https://i.imgur.com/hWfN6dO.jpg" alt=""></a>
            </div>
            <div class="col-lg-10 caja-texto">
                <h2 class="titulo-beneficio">Wallpapers</h2>
                <h3 class="texto-beneficio">Recibirá un wallpaper para el celular o la PC por mes de las ilustraciones de los artistas 
                    de la editorial y colaboradores de alta calidad. Cada mes rotara el diseño del wallpaper al azar.</h3>
            </div>
        </div>
        <div class="row caja-beneficio">
            <hr>
            <div class="col-lg-2 caja-poster">
                <a href="https://i.imgur.com/C2fd9Mm.jpg"><img class="imagen-beneficio" src="https://i.imgur.com/C2fd9Mm.jpg" alt=""></a>
            </div>
            <div class="col-lg-10 caja-texto">
                <h2 class="titulo-beneficio">Personaje chonificado</h2>
                <h3 class="texto-beneficio">Te realizamos un personaje en versión de los Chona’s comics que vos desees. Con una foto de la 
                    persona que quieras chonificar se realizara su propia versión de los Chona’s comics para usarlo como gustes. 
                    Se puede pedir uno por mes.</h3>
            </div>
        </div>
        <div class="row caja-beneficio">
            <hr>
            <div class="col-lg-2 caja-poster">
                <a href="https://i.imgur.com/DctwI9d.jpg"><img class="imagen-beneficio" src="https://i.imgur.com/DctwI9d.jpg" alt=""></a>
            </div>
            <div class="col-lg-10 caja-texto">
                <h2 class="titulo-beneficio">Chona’s comic propio</h2>
                <h3 class="texto-beneficio">Te realizamos una página de Chona’s comic sobre vos. Con una foto para chonificarte, 
                    contanos algo que te guste y armamos una pagina dedicada a tu persona para tu entretenimiento. 
                    Se puede pedir uno por mes.</h3>
            </div>
        </div>
        <div class="row caja-beneficio">
            <hr>
            <div class="col-lg-2 caja-poster">
                <a href="https://i.imgur.com/rVfdqVA.jpg"><img class="imagen-beneficio" src="https://i.imgur.com/rVfdqVA.jpg" alt=""></a>
            </div>
            <div class="col-lg-10 caja-texto">
                <h2 class="titulo-beneficio">Chonificacion o Personaje</h2>
                <h3 class="texto-beneficio">Solo se puede pedir una chonificacion o una página Chona’s comic por mes.</h3>
            </div>
        </div>
        <div class="row caja-beneficio">
            <hr>
            <div class="col-lg-2 caja-poster">
                <a href="https://i.imgur.com/o4I4eGb.jpg"><img class="imagen-beneficio" src="https://i.imgur.com/o4I4eGb.jpg" alt=""></a>
            </div>
            <div class="col-lg-10 caja-texto">
                <h2 class="titulo-beneficio">20% Descuento</h2>
                <h3 class="texto-beneficio">Obtendrás un 20% de descuento en la compra de libros físicos de la editorial. Podrás usarlo 
                    una vez por mes en una sola compra.</h3>
            </div>
        </div>
        <div class="row caja-beneficio">
            <hr>
            <div class="col-lg-2 caja-poster">
                <a href="https://i.imgur.com/zrWbmSA.jpg"><img class="imagen-beneficio" src="https://i.imgur.com/zrWbmSA.jpg" alt=""></a>
            </div>
            <div class="col-lg-10 caja-texto">
                <h2 class="titulo-beneficio">Acceso anticipado</h2>
                <h3 class="texto-beneficio">Podrás saber antes que nadie lo próximo que se viene en la editorial. Tendrán acceso, 
                    en formato digital, una parte de los futuros títulos y trabajos a salir en los próximos meses.</h3>
            </div>
        </div>
        <div class="row caja-beneficio">
            <hr>
            <div class="col-lg-2 caja-poster">
                <a href="https://i.imgur.com/sA8bikf.jpg"><img class="imagen-beneficio" src="https://i.imgur.com/sA8bikf.jpg" alt=""></a>
            </div>
            <div class="col-lg-10 caja-texto">
                <h2 class="titulo-beneficio">Envío gratis (Argentina)</h2>
                <h3 class="texto-beneficio">Tendrán en un envío gratis a cualquier parte del país de Argentina. Se podrá pedir una 
                    vez por mes y en una sola compra al mes.</h3>
            </div>
        </div>
        <div class="row caja-beneficio">
            <hr>
            <div class="col-lg-2 caja-poster">
                <a href="https://i.imgur.com/uhsIR2G.jpg"><img class="imagen-beneficio" src="https://i.imgur.com/uhsIR2G.jpg" alt=""></a>
            </div>
            <div class="col-lg-10 caja-texto">
                <h2 class="titulo-beneficio">Corrección guiones</h2>
                <h3 class="texto-beneficio">Accederás a una corrección de un guion tuyo por parte de Ignacio Pesquero Bordón (autor de 
                    Chona’s comics, Nxall, Froggy market y director de la editorial) para ayudarte a encaminar tu proyecto y tener una 
                    guía de como mejorarlo argumentalmente. Solo se realizará una corrección por mes.</h3>
            </div>
        </div>
        <div class="row caja-beneficio ultima">
            <hr>
            <div class="col-lg-2 caja-poster">
                <a href="https://i.imgur.com/JnBaXdD.jpg"><img class="imagen-beneficio" src="https://i.imgur.com/JnBaXdD.jpg" alt=""></a>
            </div>
            <div class="col-lg-10 caja-texto">
                <h2 class="titulo-beneficio">Wallpaper exclusivo</h2>
                <h3 class="texto-beneficio">Recibirás un wallpaper adicional con una ilustración exclusiva solo para miembros de este 
                    nivel de nuestros autores para el celular o la PC. Cada bimestre rotara el diseño del wallpaper.</h3>
            </div>
        </div>
    </div>
    <div class="row caja-suscripciones">
        <div class="row align-items-center linea-boton mercado">
            <div class="col col-lg-4">
                <a href="https://www.mercadopago.com.ar/subscriptions/checkout?preapproval_plan_id=2c9380847b5a46e2017b5f5d407d0346"><button type="button" class="w-100 btn btn-lg btn-outline-primary boton-mp"><img class="icono-mp" src="https://i.imgur.com/f08LEId.png"><span class="link-mp"> Suscribirse</span></button></a>
            </div>
            <div class="col col-lg-4">
                <p>$1000 x mes</p>
            </div>
        </div>
        <div class="row align-items-center linea-boton">
            <div class="col col-lg-4">
                <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=86CP38W2TGD4Y"><button type="button" class="w-100 btn btn-lg btn-outline-primary boton-pp"><img class="icono-pp" src="https://i.imgur.com/rQ5duOy.png"><span class="link-pp"> Suscribirse</span></button></a>
            </div>
            <div class="col col-lg-4">
                <p>US$10 x mes</p>
            </div>
        </div>  
    </div>
</body>