<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-compatible" content="ie=edge">
    <!-- CSS stylesheets-->
    <link rel="stylesheet" href="/public/stylesheets/style-suscripciones.css">
</head>
<body>
    <div class="row">
        <div class="col cartel-construccion">
            <h1 class="cartel-texto">sección en construccion</h1>
        </div>
    </div>
</body>