<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-compatible" content="ie=edge">
    <!-- CSS stylesheets-->
    <link rel="stylesheet" href="/public/stylesheets/style-suscripciones.css">
</head>
<body>
<!--     <div class="row">
        <div class="col cartel-construccion">
            <h1 class="cartel-texto">sección en construccion</h1>
        </div>
    </div> -->
    <div class="row caja-cabeza">
        <div class="col">
            <img class="suscripcion-logo" src="https://i.imgur.com/pEJvhPp.png" alt="logoSuscripcion">
            <h2>El plan de suscripciones esta creado para otorgar beneficios a todos aquellos que quieran ser miembros 
                de la iniciativa de boina editorial y mostrar su apoyo a sus productos y artistas. Podrás recibir 
                material exclusivo, adelantos de lanzamientos, wallpapers, stickers, comics a pedido, entre otros beneficios. 
                Suscríbete a Boina editorial y se miembro de un proyecto cultural en crecimiento.</h2>
        </div>
    </div>
    <div class="row caja-niveles">
        <div class="col carta-nivel">
            <div class="card">
                <div class="card-header">
                    <h3>Nivel 1</h3>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$100 x mes <small>Argentina</small></h1>
                    <h1 class="card-title pricing-card-title">US$1 x mes <small>Internacional</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li class="texto-nivel">Mencion en libros</li>
                        <li class="texto-nivel">Pack stickers digitales</li>
                        <li class="texto-nivel">Libros digitales (seleccion)</li>
                        <li class="texto-nivel">Un sticker HD x mes</li>
                        <li class="link-info"><a href="/suscripciones/nivel1">+Mas info</a></li>
                    </ul>
                    <a href="https://www.mercadopago.com.ar/subscriptions/checkout?preapproval_plan_id=2c9380847b5a46e2017b5f5954a70341"><button type="button" class="w-100 btn btn-lg btn-outline-primary boton-mp"><img class="icono-mp" src="https://i.imgur.com/f08LEId.png"><span class="link-mp"> Suscribirse</span></button></a>
                    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=8W7N2XBZH4JEN"><button type="button" class="w-100 btn btn-lg btn-outline-primary boton-pp"><img class="icono-pp" src="https://i.imgur.com/rQ5duOy.png"><span class="link-pp"> Suscribirse</span></button></a>
                </div>
            </div>
        </div>
        <div class="col carta-nivel">
            <div class="card">
                <div class="card-header">
                    <h3>Nivel 2</h3>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$300 x mes <small>Argentina</small></h1>
                    <h1 class="card-title pricing-card-title">US$3 x mes <small>Internacional</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li class="texto-nivel">Mencion en libros</li>
                        <li class="texto-nivel">Pack stickers digitales</li>
                        <li class="texto-nivel">Libros digitales (seleccion)</li>
                        <li class="texto-nivel">Un sticker HD x mes</li>
                        <li class="texto-nivel">Un wallpaper x mes</li>
                        <li class="texto-nivel">Personaje chonificado (unico uso)</li>
                        <li class="texto-nivel">10% Desc. x mes</li>
                        <li class="link-info"><a href="/suscripciones/nivel2">+Mas info</a></li>
                    </ul>
                    <a href="https://www.mercadopago.com.ar/subscriptions/checkout?preapproval_plan_id=2c9380847b5a46b8017b5f5ad3600355"><button type="button" class="w-100 btn btn-lg btn-outline-primary boton-mp"><img class="icono-mp" src="https://i.imgur.com/f08LEId.png"><span class="link-mp"> Suscribirse</span></button></a>
                    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=GPDU7AD9R3SLW"><button type="button" class="w-100 btn btn-lg btn-outline-primary boton-pp"><img class="icono-pp" src="https://i.imgur.com/rQ5duOy.png"><span class="link-pp"> Suscribirse</span></button></a>
                </div>
            </div>
        </div>
        <div class="col carta-nivel">
            <div class="card">
                <div class="card-header">
                    <h3>Nivel 3</h3>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$500 x mes <small>Argentina</small></h1>
                    <h1 class="card-title pricing-card-title">US$5 x mes <small>Internacional</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li class="texto-nivel">Mencion en libros</li>
                        <li class="texto-nivel">Pack stickers digitales</li>
                        <li class="texto-nivel">Libros digitales (seleccion)</li>
                        <li class="texto-nivel">Un sticker HD x mes</li>
                        <li class="texto-nivel">Un wallpaper x mes</li>
                        <li class="texto-nivel">Personaje chonificado o Chona's comic (unico uso)</li>
                        <li class="texto-nivel">10% Desc. x mes</li>
                        <li class="texto-nivel">Acceso anticipado</li>
                        <li class="texto-nivel">Un envio gratis x mes (Arg)</li>
                        <li class="link-info"><a href="/suscripciones/nivel3">+Mas info</a></li>
                    </ul>
                    <a href="https://www.mercadopago.com.ar/subscriptions/checkout?preapproval_plan_id=2c9380847b5a46e2017b5f5bf65a0343"><button type="button" class="w-100 btn btn-lg btn-outline-primary boton-mp"><img class="icono-mp" src="https://i.imgur.com/f08LEId.png"><span class="link-mp"> Suscribirse</span></button></a>
                    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=YSLMVJJBDHUZW"><button type="button" class="w-100 btn btn-lg btn-outline-primary boton-pp"><img class="icono-pp" src="https://i.imgur.com/rQ5duOy.png"><span class="link-pp"> Suscribirse</span></button></a>
                </div>
            </div>
        </div>
        <div class="col carta-nivel">
            <div class="card">
                <div class="card-header">
                    <h3>Nivel 4</h3>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$1000 x mes <small>Argentina</small></h1>
                    <h1 class="card-title pricing-card-title">US$10 x mes <small>Internacional</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li class="texto-nivel">Mencion en libros</li>
                        <li class="texto-nivel">Pack stickers digitales</li>
                        <li class="texto-nivel">Libros digitales (todos)</li>
                        <li class="texto-nivel">Un sticker HD x mes</li>
                        <li class="texto-nivel">Un wallpaper x mes</li>
                        <li class="texto-nivel">Personaje chonificado o Chona's comic x mes</li>
                        <li class="texto-nivel">20% Desc. x mes</li>
                        <li class="texto-nivel">Acceso anticipado</li>
                        <li class="texto-nivel">Un envio gratis x mes (Arg)</li>
                        <li class="texto-nivel">Correccion guiones</li>
                        <li class="texto-nivel">Wallpaper exclusivo x bimestre</li>
                        <li class="link-info"><a href="/suscripciones/nivel4">+Mas info</a></li>
                    </ul>
                    <a href="https://www.mercadopago.com.ar/subscriptions/checkout?preapproval_plan_id=2c9380847b5a46e2017b5f5d407d0346"><button type="button" class="w-100 btn btn-lg btn-outline-primary boton-mp"><img class="icono-mp" src="https://i.imgur.com/f08LEId.png"><span class="link-mp"> Suscribirse</span></button></a>
                    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=86CP38W2TGD4Y"><button type="button" class="w-100 btn btn-lg btn-outline-primary boton-pp"><img class="icono-pp" src="https://i.imgur.com/rQ5duOy.png"><span class="link-pp"> Suscribirse</span></button></a>
                </div>
            </div>
        </div>
    </div>
</body>