<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-compatible" content="ie=edge">
    <!-- CSS stylesheets-->
    <link rel="stylesheet" href="/public/stylesheets/style-comiquerias.css">
</head>
<body>
    <div class="row caja-comiqueria">
        <div class="col-lg-3 imagen-comiqueria">
            <img class="logo-comiqueria" src="https://i.imgur.com/ahizSSQ.png" alt="capitanBarato">
        </div>
        <div class="col-lg-9 texto-comiqueria">
            <h1 class="nombre-comiqueria">Capitan Barato comiqueria</h1>
            <h2 class="direccion-comiqueria">Av. Corrientes 5239, local 14</h2>
            <h2 class="localidad-comiqueria">Capital federal</h2>
            <h2 class="horario-comiqueria">Lunes a sabado 13-19hs.</h2>
            <a href="https://www.capitanediciones.com"><i class="fas fa-globe fa-2x redes-comiqueria"></i></a>
        </div>
    </div>
</body>