<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-compatible" content="ie=edge">
    <!-- CSS stylesheets-->
    <link rel="stylesheet" href="/public/stylesheets/style-comiquerias.css">
</head>
<body>
    <div class="row caja-comiqueria">
        <div class="col-lg-3 imagen-comiqueria">
            <img class="logo-comiqueria" src="https://i.imgur.com/ahizSSQ.png" alt="capitanBarato">
        </div>
        <div class="col-lg-9 texto-comiqueria">
            <h1 class="nombre-comiqueria">Capitan Barato comiqueria</h1>
            <div class="datos-comiqueria">
                <h2 class="direccion-comiqueria">Av. Corrientes 5239, local 14</h2>
                <h2 class="localidad-comiqueria">Villa Crespo, Capital federal</h2>
                <h2 class="horario-comiqueria">Lunes a sabado 13-19hs.</h2>
            </div>
            <a href="https://www.capitanediciones.com"><i class="fas fa-globe fa-2x redes-comiqueria"></i></a>
        </div>
    </div>
    <div class="row caja-comiqueria">
        <hr>
        <div class="col-lg-3 imagen-comiqueria">
            <img class="logo-comiqueria" src="https://i.imgur.com/qqqsvwW.png" alt="sector2814">
        </div>
        <div class="col-lg-9 texto-comiqueria">
            <h1 class="nombre-comiqueria">Sector 2814</h1>
            <div class="datos-comiqueria">
                <h2 class="direccion-comiqueria">Maipu 519</h2>
                <h2 class="localidad-comiqueria">Microcentro, Capital federal</h2>
                <h2 class="horario-comiqueria">Lunes a sabado 12-21hs.</h2>
            </div>
            <a href="https://www.instagram.com/sector_2814_comiqueria"><i class="redes-comiqueria fab fa-instagram fa-2x"></i></a>
        </div>
    </div>
    <div class="row caja-comiqueria">
        <hr>
        <div class="col-lg-3 imagen-comiqueria">
            <img class="logo-comiqueria" src="https://i.imgur.com/INWA2HD.png" alt="fabricaHistorietas">
        </div>
        <div class="col-lg-9 texto-comiqueria">
            <h1 class="nombre-comiqueria">Fabrica de historietas</h1>
            <div class="datos-comiqueria">
                <h2 class="direccion-comiqueria">Ayacucho 19</h2>
                <h2 class="localidad-comiqueria">Congreso, Capital federal</h2>
                <h2 class="horario-comiqueria">Lunes a viernes 13-19hs. Sabados 11-17hs.</h2>
            </div>
            <a href="https://www.instagram.com/fabricadehistorietas"><i class="redes-comiqueria fab fa-instagram fa-2x"></i></a>
        </div>
    </div>
    <div class="row caja-comiqueria">
        <hr>
        <div class="col-lg-3 imagen-comiqueria">
            <img class="logo-comiqueria" src="https://i.imgur.com/n7gFXo3.png" alt="zeroComics">
        </div>
        <div class="col-lg-9 texto-comiqueria">
            <h1 class="nombre-comiqueria">Zero comics</h1>
            <div class="datos-comiqueria">
                <h2 class="direccion-comiqueria">Av. Meeks 24, primer piso. Galeria Gallardon</h2>
                <h2 class="localidad-comiqueria">Lomas de zamora, Buenos aires</h2>
                <h2 class="horario-comiqueria">Lunes a sabados 10:30-18:30hs.</h2>
            </div>
            <a href="https://www.instagram.com/zerocomicstore"><i class="redes-comiqueria fab fa-instagram fa-2x"></i></a>
        </div>
    </div>
    <div class="row caja-comiqueria">
        <hr>
        <div class="col-lg-3 imagen-comiqueria">
            <img class="logo-comiqueria" src="https://i.imgur.com/olhIg3g.png" alt="laGalera">
        </div>
        <div class="col-lg-9 texto-comiqueria">
            <h1 class="nombre-comiqueria">La galera comics</h1>
            <div class="datos-comiqueria">
                <h2 class="direccion-comiqueria">Av. Rivadavia 334, local 4</h2>
                <h2 class="localidad-comiqueria">Quilmes, Buenos aires</h2>
                <h2 class="horario-comiqueria">Lunes a sabados 10-20hs.</h2>
            </div>
            <a href="https://www.lagaleracomics.com.ar"><i class="fas fa-globe fa-2x redes-comiqueria"></i></a>
        </div>
    </div>
    <div class="row caja-comiqueria">
        <hr>
        <div class="col-lg-3 imagen-comiqueria">
            <img class="logo-comiqueria" src="https://i.imgur.com/sV5j0qB.jpg" alt="elTunelDelComic">
        </div>
        <div class="col-lg-9 texto-comiqueria">
            <h1 class="nombre-comiqueria">El tunel del comic</h1>
            <div class="datos-comiqueria">
                <h2 class="direccion-comiqueria">Galeria Naonis, local 11</h2>
                <h2 class="localidad-comiqueria">Ramos mejia, Buenos aires</h2>
                <h2 class="horario-comiqueria">Lunes a sabados 10-19:30hs.</h2>
            </div>
            <a href="https://www.instagram.com/el_tunel_del_comic"><i class="redes-comiqueria fab fa-instagram fa-2x"></i></a>
        </div>
    </div>
    <div class="row caja-comiqueria">
        <hr>
        <div class="col-lg-3 imagen-comiqueria">
            <img class="logo-comiqueria" src="https://i.imgur.com/ERYTrZ7.png" alt="puroComic">
        </div>
        <div class="col-lg-9 texto-comiqueria">
            <h1 class="nombre-comiqueria">Puro comic Rosario</h1>
            <div class="datos-comiqueria">
                <h2 class="direccion-comiqueria">3 de febrero 1180</h2>
                <h2 class="localidad-comiqueria">Rosario, Santa fe</h2>
                <h2 class="horario-comiqueria">Lunes a sabados 11-18hs.</h2>
            </div>
            <a href="https://www.purocomic.com.ar"><i class="fas fa-globe fa-2x redes-comiqueria"></i></a>
        </div>
    </div>
    <div class="row caja-comiqueria">
        <hr>
        <div class="col-lg-3 imagen-comiqueria">
            <img class="logo-comiqueria" src="https://i.imgur.com/Y6UwUZC.png" alt="espacioCrumb">
        </div>
        <div class="col-lg-9 texto-comiqueria">
            <h1 class="nombre-comiqueria">Espacio Crumb</h1>
            <div class="datos-comiqueria">
                <h2 class="direccion-comiqueria">Diaginal 77 Nº313 entre 4 y 46</h2>
                <h2 class="localidad-comiqueria">La plata, Buenos aires</h2>
                <h2 class="horario-comiqueria">Lunes a sabados 11-19hs.</h2>
            </div>
            <a href="https://www.crumb.com.ar"><i class="fas fa-globe fa-2x redes-comiqueria"></i></a>
        </div>
    </div>
</body>